.Home {
  background-color: lightgray;
  z-index: 5;
  padding: 20px;
}

.Home .WelcomeMessage {
  padding: 30px;
  text-align: center;
}

.Home h2 {
  text-align: center;
}

.Home h3 {
  text-align: center;
}

.Home li {
  margin-top: 5px;
  font-weight: bold;
}

.Home p {
  padding: 3px;
  font-weight: normal;
}
